:root{
    --verde_escuro: #004D40;
    --verde_claro: #57958A;
    --verde_card_back: rgb(98, 166, 151,0.34);
}
h1{
    width:100%;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;

    color: #004D40;
}

#shelf{
    background-color: var(--verde_card_back);
    width: 80%;
    height: 100%;
    margin: 0 auto;
    margin-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 3%;
    border: 10px solid #004D40;
}
.grid-shelf{
    display: grid;
    grid-template-rows: 50vh;
    grid-template-columns: 25% 25% 25% 25%;
    height: 90%;
    width: 100%;
    margin: 0 auto;
}
.book{
    border-bottom: 5px solid #004D40;
    margin-top: 8%;
}
.shelf-icon{
    width: 70%;
    height: 70%;
    margin: 0 auto;
    margin-top: 3%;
    display: flex;
    justify-content: center;
}
.shelf-icon img{
    width: 90%;
    height: 100%;
    box-shadow: -10px 10px 0 var(--verde_escuro);
}

/* >> BOTOES << */
.shelf-button{
    display: flex;
    flex-direction: column;
    
    margin-top:3%;
    height: 40%;
}
.buy-button{
    background-color: var(--verde_escuro);
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 30%;
    margin: 0 auto;
    margin-bottom: 2%;
}
.buy-button a{
    text-decoration: none;
    color: white;
    
    width: 100%;
    text-align: center;
    font-size: large;
}
.remove-button{
    background-color: #C52121;;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.3);
    border-radius: 10px;

    width: 40%;
    height: 20%;
    margin: 0 auto;

    display: flex;
    justify-items: center;
    align-items: center;
}
.remove-button a{
    text-decoration: none;
    width: 100%;
    color: white;
    text-align: center;
}
