section{
    justify-content: center;
    display: grid;
    width: 62%;
    font-family: "Nunito";

    margin: 0 auto;
    margin-top: 5%;
}

.book_main{
    display: grid;
    grid-template-columns: 30% 1fr;
    padding: 1%;
}

    .image_book {
        width: 350px;
        height: 550px;
    }

    #livro_imagem{
        width: 100%;
        height: 100%;
    }

    .dados h3,
    .dados h4,
    .dados p,
    .dados a{
        margin: 0 auto;
    }

    .dados h3{
        font-weight: bold;
        font-size: 50px;
        color: #004D40;

        margin-bottom: 4px;
    }

    .dados #book_title{
        margin-top: 3%;
        margin-left: 8%;
        font-weight: 700;
        margin-left: 20%;
    }

    .dados #autor{
        font-size: 33px;
        margin-left: 21%;
    }

    .preco{
        margin-left: 20%;
    }

    .dados #preco{
        font-family: "Open Sans";
        font-size: 55px;
        
        margin-top: 5%;
    }

    .dados #parcela{
        font-size: 25px;
    }
        .adicionar{
            font-weight: 700;
            display: grid;
            grid-template-columns: 1fr 1fr;

            margin-left: 15%;
            margin-top: 3%;
        }
            #mais_informacoes{
                font-size: 20px;
            }
            #button_container{
                font-family: "Nunito";
                font-size: 20px;
                margin: 0 auto;
                width: 75%;
                height: 125%;
                border-radius: 6px;

                background-color: #004D40;
                color: white;
                box-shadow: 6px 5px 0px #009a80;
                display: flex;
                align-items: center;
                text-align: center;
            }
                #button {
                   padding: 1%; 
                }

.descricao{
    background-color: rgba(98, 166, 151, 0.4);;
    display: grid;
    border-radius: 10px;
    padding: 2%;
}

    #descricao{
        font-size: 30px;

        margin: 0 auto;
    }

    #descricao_descricao{
        text-align: justify;
        margin: 15px 0 30px 0;
    }

    .outras_descricoes p{
        margin: 0;
    }

        hr{
            width: 100%;
            color: white;
            border-color: white;
        }

        #outras_descricoes{
            text-align: start;
            font-size: 20px;

            display: grid;
            grid-template-columns: 1fr 1fr;
            margin: 5px 0 5px 0;
        }