:root{
    --verde_escuro: #004D40;
    --verde_claro: #57958A;
    --verde_card_back: rgb(98, 166, 151,0.34);
    --text_branco: #FFFFFF;
}
#carrinho-area{
    width: 63.5vw;
    display: grid;
    grid-template-columns:  0.8fr 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-rows:10% 90%;
    margin: 0 auto;
    margin-top: 5vh;
}
.carrinho{
    height: 43vh;
    width: 63.5vw;  
    margin: 0 auto;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 2;
    overflow-y: scroll;
}

#carrinho-vazio{
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 4;
    align-items: center;
}
#sadpepe{
    width: 30%;
    height: 70%;
}

#titulo-livros,
#titulo-quantidade,
#titulo-unitario,
#titulo-total{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-weight: bold;

    font-family: "Open Sans";
}
.item{
    height: 25%;
    display: grid;
    grid-template-columns: 0.8fr 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 80%;
    justify-content: center;
    border: 0.1vh solid black;
    padding-top: 2%;
    padding-left: 3%;
}
#item-imagem{
    width: 25%;
    height: 90%;
    margin-top: 5%;
    margin-left: 5%;
}
#livro{
    display: flex;
    width: 80%;
    justify-content: flex-start;
    align-items: center;
}
#info-livro{
    width: 100%;
    display: block;
    justify-content: center;
}
#info-livro p{
    text-align: center;
    font-size: 14px;
    font-family: "Open Sans";
}
#quantidade-unitario-book{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#quantidade-menos{
    width: 6%;
    height: 10%;
    margin-right: 5%;
}
#quantidade-mais{
    width: 15%;
    height: 15%;
    
}
#quantidade{
    width: 25%;
    height: 20%;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#total{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    font-family: "Open Sans";
}

#unidade{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: "Open Sans";
}
#botao_item{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#botao_item a{
    width: 30%;
    height: 30%;
}
#remover_botao{
    width: 100%;
    height: 100%;
}

/*Informações de preço*/
#preco-area{
    width: 63.5vw;
    display: flex;
    margin: 0 auto;
    justify-content: flex-end;
    align-items: center;
}

#info-preco{
    width: 25%;
}
#valor-total, 
#valor-sem-desconto{
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 28px;
}
#valor-sem-desconto{
    text-align: end;
    color: #57958A;
    width: 100%;
}
#valor-total{
    font-size: 28px;
}
#info-preco #valor-pedido,
#info-preco #desconto-box
{
    display: flex;
    margin-top: 3%;
    justify-self: flex-end;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    
    font-family: "Segoe UI";
    font-size: 24px;
    color: var(--verde_escuro);
}
#info-preco #desconto-box{
    height: 40%;
}
#info-preco #valor-pedido p{
    
    margin-block-start: 0;
    margin-block-end: 0;
}
#info-preco #total-pedido{
    display: flex;
    margin-top: 15%;
    margin-bottom: 5%;
    justify-self: flex-end;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;

    font-family: "Segoe UI";
    font-size: 24px;
    color: var(--verde_escuro);
}
#desconto{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-left: 5%;
    width: 30%;
    height: 40%;
}
#next-button{
    width: 100%;
    height: 5vh;
    justify-self: center;

    background: #004D40;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    color: var(--text_branco);
    cursor: pointer;
    text-align: center;
    caret-color: transparent;
}
#next-button a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    font-family: 'Open Sans';
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    color: var(--text_branco);
}
#next-button a p{
    margin-block-start: 0;
    margin-block-end: 0;
}
#next-button a img{
    width: 13%;
    height: 70%;
}