:root{
    --verde_escuro: #004D40;
    --verde_claro: #57958A;
    --verde_card_back: rgb(98, 166, 151,0.34);
    --text_branco: #FFFFFF;
}
#titulo{
    display: flex;
    width: 100vw;
    justify-content: center;
    margin-top: 5vh;
}

#carrinho-area{
    width: 63.5vw;
    display: grid;
    grid-template-columns:  0.8fr 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-rows:10% 90%;
    margin: 0 auto;
}
.carrinho{
    height: 43vh;
    width: 63.5vw;  
    margin: 0 auto;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 2;
    overflow-y: scroll;
}

#titulo-livros,
#titulo-quantidade,
#titulo-unitario,
#titulo-total{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
#item{
    height: 25%;
    display: grid;
    grid-template-columns: 0.8fr 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 80%;
    justify-content: center;
    border: 0.1vh solid black;
    padding-top: 2%;
    padding-left: 2%;
}
#item-imagem{
    width: 25%;
    height: 90%;
    margin-top: 5%;
    margin-left: 5%;
}
#livro{
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
}
#info-livro p{
    text-align: center;
    font-size: medium;
}
#quantidade-unitario-book{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#quantidade-menos{
    width: 6%;
    height: 10%;
    margin-right: 5%;
}
#quantidade-mais{
    width: 15%;
    height: 15%;
    
}
#quantidade{
    width: 25%;
    height: 20%;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#total{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%
}

#unidade{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#botao_item{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#remover_botao{
    width: 30%;
    height: 30%;
}

/*Informações de preço*/
#preco-area{
    width: 63.5vw;
    display: flex;
    margin: 0 auto;
    justify-content: flex-end;
    align-items: center;
}

#info-preco{
    width: 16%;
}
#info-preco p{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-right: 5%;
}
#info-preco #valor-pedido,
#info-preco #desconto-box
{
    display: flex;
    margin-top: 8%;
    justify-self: flex-end;
}

#info-preco #total-pedido{
    display: flex;
    margin-top: 20%;
    margin-bottom: 5%;
    justify-self: flex-end;
}
#desconto{
    width: 25%;
    height: 15%;
}