:root{
    --verde_escuro: #004D40;
    --verde_claro: #57958A;
    --verde_card_back: rgb(98, 166, 151,0.34);
}
section {
    display: block;
    width: 40%;
    margin: 0 auto;
    margin-top: 5%;
    padding: 2%;
    margin-bottom: 5%;

    background-color: var(--verde_card_back);
    border-radius: 10px;
}
h2 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    color: #004D40;
    text-align: center;

    margin-block-start: 0;
    margin-block-end: 0;
}
p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    text-decoration: none;
    color: black;
    text-align: center;
}
#download-button {
    width: 16%;
    height: 10%;
    margin: 0 auto;
    margin-bottom: 1%;

    background-color: var(--verde_escuro);
    border-radius: 20px;
    box-shadow: 0px 4px 3px rgb(0 0 0 / 30%);
    cursor: pointer;
}
#download-button :hover{
    background-color: var(--verde_claro);
    border-radius: 20px;
}
#download-button a{
    display: flex;
    align-items: center;
    text-align: center;
    font-family: "Nunito";
    font-size: 24px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    height: 100%;
}
