footer{
  background-color: #004D40;
  width: 100%;
  height: 30vh;
  margin: 0;
  margin-top: 3%;
  padding: 0;
}
.top-footer{
  margin: 0 auto;
  width: 80%;
  height: 60%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.top-footer p{
  color: white;
  margin-block-start: 4%;
  margin-block-end: 0;
  font-family: 'Nunito'
}
.top-footer h2{
  color: white;
  font-family: 'Nunito';
}
.top-footer a{
  text-decoration: none;
  color: white;
  font-family: 'Nunito'
}
.top-footer #mobile-info,
.top-footer #about-info,
.top-footer #contact-info{
  height: 60%;
}
.top-footer div div{
  height: 40%;
}
footer hr{
  width: 90%;
  margin: 0 auto;
  margin-top: 2%;
  background-color: white;
  border-style: outset;
  border-width: 1px;
}
.bottom-footer{
  margin: 0 auto;
  margin-top: 1%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.bottom-footer p{
  color: white;
  font-family: 'Nunito';
}
#social-media{
  display: flex;
  width: 20%;
  justify-content: space-evenly;
  align-items: center;
}
#social-media img{
  width: 12%;
  height: 76%;
}