:root{
    --verde_escuro: #004D40;
    --verde_claro: #57958A;
    --verde_card_back: rgb(98, 166, 151,0.34);
    --text_branco: #FFFFFF;
}

#formulario-area{
    width: 60vw;
    margin: 0 auto;
    background-color: var(--verde_card_back);
    border-radius:10px;
    padding-top: 2%;
    padding-bottom: 1%;
}
.sec-div{
    display: flex;
    justify-content: center;
    align-content: center;
}
input[type=text],input[type=number]{
    border: 1px solid #004D40;
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-bottom: 1.5%;
    outline-style: none;
    height: 15%;
}
#parcelas{
    border: 1px solid #004D40;
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-bottom: 1.5%;
    outline-style: none;
    height: 15%;

    width: 100%;
}
.article_pattern{
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3.5%;
    width: 40%;
}
hr {
    width: 70%;
}
h3{
    text-align: center;
    font-family: "Open Sans";
    
    color:#004D40;
}
label{
    font-family: "Open Sans";
    font-size: 15px;
}
#titulo-formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans";
    font-size: 20px;
    color: #004D40;
}
#cep-numero-container,
#bairro-estado-container,
#cpf-cvv-container{
    display: flex;
    justify-content: space-between;
}
#cep-numero-container{
    padding-top: 3%;
}
#termos_check,
#radio_container{
    margin-top: 3%;
}
#radio_container{
    font-size: 14px;
    font-family: "Open Sans";
}
.input-area{
    width: 100%;
}
#numero_input,
#cep_input,
#estado_input,
#bairro_input,
#cidade_input,
#cpftitular_input,
#cvv_input{
    height: 73%;
}
#cpf-div{
    width: 80%;
}
#cvv-div{
    width: 20%;
    padding-left: 1.5%;
}
#estado-conteiner,
#numero-container, #cidade-container{
    padding-left: 1.5%;
}
#numero-container{
    width: 25%;
}
#termos_check:checked{
    background-color: var(--verde_escuro);
    border-color: var(--verde_escuro);
}
#botoes-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10%;
}
#botao-reset{
    width: 30%;
    height: 3vh;
    background:var(--verde_claro);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 7px;
    color: var(--text_branco);
}
#botao-submit{
    width: 30%;
    height: 3vh;
    background: #004D40;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    border: none;
    color: var(--text_branco);
    cursor: pointer;
    text-align: center;
    caret-color: transparent;
}
#botao-submit:hover,
#botao-reset:hover{
    background:var(--verde_claro);
}
#botao-submit,
input[type=reset]{
    outline-style: none;
}