body{
    height: 100vh;
    width: 100vw;
}
.banner-container{
    width: 100%;
    height: 60%;
}
.ad-container{
    width: 90%;
    height: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
