:root{
    --verde_escuro: #004D40;
    --verde_claro: #57958A;
    --verde_card_back: rgb(98, 166, 151,0.34);
}
section{
    line-height: 3vh;

    font-family: "Open Sans";
}

#profile_title{
    width:100%;
    margin-block-start: 0.8em;
    margin-block-end: 0.8em;

    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;

    color: var(--verde_escuro);
}

.profile_block{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    background-color: var(--verde_card_back);

    margin: 0 auto;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 20px;

    padding: 1.5%;
}

    #logout_button{
        background-color: #C52121;
        width: 2vw;
        height: 3vh;
        
        border-radius: 10px;
        padding: 10%;

        display: flex;
        justify-content: center;
    }

    #logout{
        display: flex;
        align-self: flex-end;
    }
    #logout_button:hover{
        background-color: #D44949;
    }

    #profile_content{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


/*/////////////   IMAGEM DE PERFIL   ///////////// */
        #profile_photo{
            box-shadow: -25px 25px 0 var(--verde_escuro);
            position: relative;
            top: -4vh;
            left: 2vw;
            
            height: 100%;
            width: 100%;

            object-fit: cover;

        }
        .frame{

            height: 41.7vh;
            width: 21vw;
            margin: 5%;

            position: relative;
        }
        .frame img{
            display: block;
        }

            .img_overlay{
                position: absolute;
                top: -4vh;
                left: 2vw;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, .5);
                color: white;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                opacity: 0;
                transition: 0.25s;
            }

            .img_overlay p{
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 300;
                font-size: 25px;
            }

            .img_overlay:hover{
                opacity: 1;
            }

            #camera_icon{
                width: 35%;
                height: 40%;
            }


                .modal-changeImg{
                    width: 100vw;
                    height: 100vh;
                    background: rgba(0, 0, 0, .5);
                    position: fixed;
                    top: 0px;
                    left: 0px;
                    z-index: 2000;
                    display: none;
                    justify-content: center;
                    align-items: center;
                
                
                    font-family: 'Open Sans';
                    font-size: 30px;
                }
                
                .modal-changeImg.mostrar{
                    display: flex;
                }
                
                .modal-img{
                    background: white;
                    width: 25%;
                    min-width: 300px;
                    padding: 1%;
                    border-radius: 10px;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                
                @keyframes modal{
                    from{
                        opacity: 0;
                        transform: translate3d(0, -60px, 0);
                    }
                    to{
                        opacity: 1;
                        transform: translate3d(0, 0, 0);
                    }
                }
                
                .mostrar .modal-img{
                    animation: modal .3s;
                }

                #upload-box{
                    font-size: 30px;
                    background: white;
                    border-radius: 50px;
                    width: 350px;
                    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
                    outline: none;
                }

                ::-webkit-file-upload-button{
                    color: white;
                    background: var(--verde_escuro);
                    padding: 20px;
                    border: none;
                    border-radius: 50px;
                    box-shadow: 1px 0 1px 1px;
                    outline: none;
                }

                ::-webkit-file-upload-button:hover{
                    background: var(--verde_claro);
                }
            
/*/////////////   CONTEUDO DO PERFIL   ///////////// */
        .pcontent_info{
            display: grid;
            grid-template-columns: 30% 1fr;

            font-size: 30px;
            font-family: 'Open Sans';
        }

        .pcontent_info div{
            display: flex;
            align-items: center;
        }

        .content_info h4{
            font-size: 45px;
            font-family: 'Open Sans';
            font-weight: 700;

            margin-block-end: 0.5em;
            color: var(--verde_escuro);
        }

/*/////////////   MUDAR SENHA E MODAIS   ///////////// */
        .change_password{
            background-color: var(--verde_escuro);
            width: fit-content;
            height: fit-content;

            font-family: 'Open Sans';
            font-size: 30px;
            
            border-radius: 10px;
            border: none;
            padding: 0.5%;
            color: white;
            padding: 3%;
        }

        .change_password:hover{
            background-color: var(--verde_claro);
        }


.modal-changepw{
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;


    font-family: 'Open Sans';
    font-size: 30px;
    line-height: 1vh;
}

.input-pw{
    margin: 7px;
    width: 90%;
    height: 45px;
    border-style: solid;
    border-width: 1;
    border-color: var(--verde_claro);
    outline: none;
    font-size: 30px;
}

.cpw-bts{
    background-color: var(--verde_escuro);
    width: fit-content;
    height: fit-content;

    font-family: 'Open Sans';
    font-size: 20px;
                
    border-radius: 10px;
    border: none;
    color: white;
    padding: 2%;
    margin: 1%;
}
.cpw-bts:hover{
    background-color: var(--verde_claro);
}

.button-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-changepw.mostrar{
    display: flex;
}

.modal{
    background: white;
    width: 25%;
    min-width: 300px;
    padding: 1%;
    border-radius: 10px;

}

.mostrar .modal{
    animation: modal .3s;
}