:root{
    --verde_escuro: #004D40;
    --verde_claro: #57958A;
}
html{
    scroll-behavior: smooth;
}
/* >> */
section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4vw 10vw 4vw 10vw;
    height: 100vh;
}
/* >> ASIDE << */
aside{
    display: block;
    width: 20%;
    height: 100%;
}
.filter{
    margin: 1vw 5vw 1vw 1vw;
}
aside img{
    width: 100%;
    height: 100%;
}
/* >> ARTICLE << */
.grid-products{
    display: grid;
    grid-template-rows: 400px 400px 400px 400px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1.5%;
    row-gap: 5%;
    margin-top: 5vw;
    width: 80%;
    height: 100%;
    align-items: center;
}
article .product{
    height: 80%;
}
article .product #book-container{
    display: flex;
    width: 100%;
    height: 80%;
    align-items: center;
    justify-content: center;
}
article .product img{
    width: 50%;
    height: 80%;
}
article .product #titulo{
    margin-top: 0%;
    height: 15%;
    font-size: 22px;
    font-family: "Open Sans";
    font-weight: 400;
    color: black;  
}
article .product #book-price{
    margin-top: 10%;
    margin-bottom: 5%;
    font-size: 24px;
    font-family: "Segoe UI";
    font-weight: 700;
    color: #004D40;
}
article .product p{
    text-align: center;
}
article .product #button-container{
    display: flex;
    width: 100%;
    height: 30%;
    justify-content: center;
}
article .product #button-container a{
    width: 40%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #004D40;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    outline: none;
    cursor: pointer;

    font-family: "Nunito";
    color: white;
    font-size: 15px;
    text-decoration: none;

    border-width: 0;
    border-style: none;
    border-color: none;
    border-image: none;
}
article .product #button-container a:hover{
    background: #57958A;
}
