:root{
    --verde_escuro: #004D40;
    --verde_claro: #57958A;
    --verde_card_back: rgb(98, 166, 151,0.34);
}
html{
    scroll-behavior: smooth;
}
section{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 1vw 10vw 1vw 10vw;
}
/* >> ASIDE << */
aside{
    display: block;
    width: 20%;
}

/* > FILTERS < */
.filter{
    margin: 3vw 4vw 1vw 1vw;
}
.filter-title{
    background-color: var(--verde_escuro);
}
.filter-title p{
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 600;
    color: white;
    text-align: center;
}

.filter-button{
    background-color: var(--verde_card_back);
    border-radius: 5px;
}
.filter-button p{
    font-family: 'Nunito';
    font-size: 20px;
    font-weight: 700;
    color: var(--verde_claro);
    text-align: center;
}
aside img{
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
}
.filter-button:hover{
    background-color: var(--verde_escuro);
}
.filter-button p:hover{
    color: white;
}
/* >> ARTICLE << */
.grid-products{
    display: grid;
    grid-auto-rows: 48vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1.5%;
    width: 80%;
    margin-top: 3vw;
    align-items: center;
}
article .product{
    height: 100%;
}
article .product #book-container{
    display: flex;
    width: 100%;
    height: 60%;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}
article .product img{
    width: 60%;
    height: 90%;
}
article .product #titulo{
    margin-top: 0%;
    height: 15%;
    font-size: 22px;
    font-family: "Open Sans";
    font-weight: 400;
    color: black;  
    margin-block-start: 0;
    margin-block-end: 0;
}
article .product #book-price{
    font-size: 24px;
    font-family: "Segoe UI";
    font-weight: 700;
    color: #004D40;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 2%;
}
article .product p{
    text-align: center;
}
article .product #button-container{
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: center;
}
article .product #button-container a{
    width: 60%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background: #004D40;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    outline: none;
    cursor: pointer;

    font-family: "Nunito";
    color: white;
    font-size: 18px;
    text-decoration: none;

    border-width: 0;
    border-style: none;
    border-color: none;
    border-image: none;
}
article .product #button-container a:hover{
    background: #57958A;
}